
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-image: linear-gradient(90deg,#4743d0,#880868);
    font-family: 'Poppins',sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    
}

form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

input,button{

    background-color: #fff;
    border: none;
    padding: 10px,20px;
    
}
